/* Обнуляем стили по умолчанию */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    width: 800px;
}
#root {
    display: flex;
    justify-content: center;
}
.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
    border: 2px solid teal;
    border-radius: 5px;
    background-color: rgb(212, 212, 212);
}

.post__btns {
    margin: 5px;
    padding: 5px;
    border: 2px solid teal;
    border-radius: 3px;
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
}

.count_class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
    border: 2px solid teal;
    border-radius: 5px;
    background-color: rgb(212, 212, 212);
}

/* копируем стили из сайта */
/* меняем в названвиях item на post*/
.post-enter {
    /* opacity: 0; */
    transform: translateX(-350px);
  }
  .post-enter-active {
    /* opacity: 1; */
    transform: translateX(0); 
    /* при добавление поста будет выезжать на 150px*/
    transition: all 500ms ease-in;
  }
  .post-exit {
    opacity: 1;
  }
  .post-exit-active {
      /* меняем опасти на трансформ по оси х */
    /* opacity: 0; */
    transform: translateX(-350px);
    /* при удалении поста будет заезжать на 150px */
    transition: all 500ms ease-in;
  }
