/* css модуль позволяет генерировать уникальные цсс классы (проверяем в инспекторе)
мы изолируем стили не используя методологию BEM*/

.myBtn {
    padding: 5px 15px;
    color: rgb(0, 40, 27);
    font-size: 14px;
    /* фон прозрачный */
    background-color: rgb(222, 222, 222);
    /* solid - сплошной контур */
    border: 2px solid teal;
    cursor: pointer;
    border-radius: 5px;
}