.myModal {
    /* фиксируем позицию и растягиваем на все окно и прячем по умолчанию*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgb(0, 0, 0, 0.5);
    
}

/* класс эктив будет изменять значение дисплей */
.myModal.active {
    /* показываем содержимое модального окна и выравниваем по центру гориз и верт */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* стили для текстовой части */
.myModalContent {
    background: azure;
    min-width: 250px;
    padding: 25px;
    border-radius: 16px;
}